<!-- <h1><a routerLink="/">{{title}}</a></h1> -->
<mat-toolbar color="accent" >
	<mat-toolbar-row class="header">
	  <span class="cover"></span>
		<app-user></app-user>
	</mat-toolbar-row>
	<mat-toolbar-row class="header-container">
	  <span><button mat-raised-button color="warn" [matMenuTriggerFor]="menu">Categories</button></span>
	  <span class="cover"></span>
	  <span><h1><a routerLink="/">{{title}}</a></h1></span>
	  <span class="cover"></span>
	  <span><app-cart></app-cart></span>
	</mat-toolbar-row>
</mat-toolbar>


<!-- 
<mat-tab-group>
  <span *ngFor="let category of categories">
  	<mat-tab class="tabb">
  		<ng-template mat-tab-label>
      	<a routerLink="/category/{{category.name}}" *ngIf="category.name" class="cat" >{{category.name}}</a>
	    </ng-template>
  	</mat-tab>
	</span>
</mat-tab-group> -->

<mat-menu #menu="matMenu">
	<span *ngFor="let category of categories">
		<a routerLink="/category/{{category.name}}" *ngIf="category.name" class="cat" ><button mat-menu-item>{{category.name}}</button></a>
	</span>
</mat-menu>
<!-- <ul>
	<li *ngFor="let category of categories"><a routerLink="/category/{{category.name}}" *ngIf="category.name" ><button class="btn btn-default">{{category.name}}</button></a></li>
</ul> -->

<!-- <app-cart></app-cart> -->