<app-header></app-header>
<section>
	<div class="photo">
		<img src="../../../assets/images/placeholder.png">
		<button *ngIf="!isAdded(); else gotocart" class="btn btn-default " (click)="addToCart()"> Add To Cart</button>
		<button class="btn btn-default">Buy Now</button>
	</div>
	<div class="desc">
		<h2>{{theProduct.name}}</h2>
		<span>{{theProduct.price}}</span><samp>{{theProduct.price}}</samp>
		<p>
			<span>Description</span><br>
			{{theProduct.desc}}<br>
		</p>
	</div>
</section>

<ng-template #gotocart><a routerLink="/viewcart"><button class="btn btn-default">Go to Cart</button></a></ng-template>