<app-header></app-header>
<section>
	<div class="photo">
		<img src="../../../assets/images/placeholder.png">
		<button *ngIf="!isAdded(); else gotocart" class="btn btn-default " (click)="addToCart()"> Add To Cart</button>
		<button class="btn btn-default" (click)="buyNow()">Buy Now</button>
	</div>
	<div class="desc">
		<h2>{{theProduct.name}}</h2>
		<span>Rs{{theProduct.sprice}}</span> <samp>Rs{{theProduct.price}}</samp>
		<p>
			<span>Description</span><br>
			{{theProduct.description}}<br>
		</p>
	</div>
</section>

<div class="comments col-sm-6 review" *ngFor="let review of reviews">
	<div class="contains well" *ngIf="review.name">
		<b>Name : </b>{{review.name}}
		<b>Comment : </b>{{review.comment}}
		<b>Rating : </b>{{review.rating}}
	</div>
</div>
<div class="col-sm-6 well review">


	<h3 align="center">Submit Your review</h3>
	
		<form class="text-center" [formGroup]="rForm" (submit)="submitReview(rForm.value)">
		<select class="form-control" formControlName="rating">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
		</select>
		<input type="text" formControlName="name" class="form-control" placeholder="Name">
		<input type="email" formControlName="email" class="form-control" placeholder="Email">
		<textarea formControlName="comment" class="form-control" placeholder="Comment"></textarea>
		<button class="btn btn-default">Submit</button>
	</form>
</div>



<ng-template #gotocart><a routerLink="/viewcart"><button class="btn btn-default">Go to Cart</button></a></ng-template>