<app-header></app-header>
<section class="container">
	<mat-card class="photo">
		<img mat-card-image src="../../../assets/images/placeholder1.jpg">
		<mat-card-actions>
			<button mat-raised-button color="primary" *ngIf="!isAdded(); else gotocart" (click)="addToCart()"> Add To Cart</button>
			<button mat-raised-button color="primary" class="btn btn-default" (click)="buyNow()">Buy Now</button>	
		</mat-card-actions>
	</mat-card>
	<ng-template #gotocart><a routerLink="/viewcart"><button mat-raised-button color="primary">Go to Cart</button></a></ng-template>
	<mat-card class="description">
		<mat-card-header>
			<mat-card-title>
				<h3>{{theProduct.name}}</h3>
			</mat-card-title>
			<mat-card-subtitle>
				<span class="sprice">Rs{{theProduct.sprice}}</span> 
				<span class="price">Rs{{theProduct.price}}</span>
				<span class="discount">
					{{(theProduct.price-theProduct.sprice)/theProduct.price*100}}% Off
				</span>
			</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
		  <p>
		    {{theProduct.description}}
		  </p>
		</mat-card-content>
	</mat-card>
	
</section>
<section class="container">
	<mat-card>
		<mat-card-header>
			<mat-card-title>
				<h4>Ratings and Reviews</h4>
			</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<!-- <mat-list> -->
				<!-- <mat-list-item *ngFor="let review of reviews"> -->
				<section *ngFor="let review of reviews" class="review">
					<div class="thereview" *ngIf="review.name">
						<div style="width: 100%;">
							<span class="name"><b>{{review.name}}</b></span>
							<span class="rating">{{review.rating | excerpt}}</span>
							<span class="rdate"><i>{{review.rdate | date}}</i></span>
						</div>
						<br>
						<div style="width: 100%;">
							<span class="comment">{{review.comment}}</span>
						</div>
					</div>
				</section>

				<mat-card>
					<mat-card-header>
						<mat-card-title>Submit Your Review</mat-card-title>
					</mat-card-header>
					<mat-card-content>
						<form class="text-center" [formGroup]="rForm" (submit)="submitReview(rForm.value)">
							
								<select matInput class="" formControlName="rating">
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
								</select>
							
							<mat-form-field>
								<input type="text" matInput formControlName="name" class="theInput" placeholder="Name">
							</mat-form-field>
							<mat-form-field>
								<input type="email" matInput formControlName="email" class="theInput" placeholder="Email">
							</mat-form-field>
							<mat-form-field>
								<textarea matInput formControlName="comment" class="theInput" placeholder="Comment"></textarea>
							</mat-form-field>
							<button mat-raised-button color="primary">Submit</button>
						</form>
					</mat-card-content>
				</mat-card>

				<!-- </mat-list-item> -->
			<!-- </mat-list> -->
		</mat-card-content>
	</mat-card>
</section>
