<app-header></app-header>
<section class="login text-center" *ngIf="isLogin()">
	<h2>Login</h2>
	<form class="login-form text-center" [formGroup]="lForm" (submit)="mLogin(lForm.value)">
		<input type="text" formControlName="mobile" class="form-control" placeholder="Mobile" required="true">
		<input type="password" formControlName="password" class="form-control" placeholder="Password" required="true">
		<button class="btn btn-default" [disabled]="!lForm.valid" >Login</button>
		<a routerLink="/signup"><button class="btn btn-default">Sign Up</button></a>
	</form>
</section>
<section class="signUp text-center" *ngIf="!isLogin()">
	<h2>Sign Up</h2>
	<form class="signup-form text-center" [formGroup]="sForm" (submit)="mSignup(sForm.value)">
		<input type="text" formControlName="name" class="form-control" placeholder="Name">
		<input type="text" formControlName="mobile" class="form-control" placeholder="Mobile No">
		<input type="email" formControlName="email" class="form-control" placeholder="Email">
		<input type="password" formControlName="password" class="form-control" placeholder="New Password">
		<input type="password" formControlName="rpassword" class="form-control" placeholder="Re Inter New Password">
		<button class="btn btn-default" [disabled]="!sForm.valid">Sign Up</button>
	</form>
	<a routerLink="/login"><button class="btn btn-default">Login</button></a>
</section>

<section *ngIf="error" class="error">{{error}}</section>