<app-header></app-header>
<section class="login text-center" *ngIf="isLogin()">
	<h2>Login</h2>
	<form class="login-form text-center" [formGroup]="lForm" (submit)="mLogin(lForm.value)">
		<mat-form-field  class="theInput">
			<input matInput type="text" formControlName="mobile" placeholder="Mobile" required="true">
		</mat-form-field>
		<mat-form-field class="theInput">
			<input matInput type="password" formControlName="password" class="" placeholder="Password" required="true">
		</mat-form-field>
		<button class="btn btn-default" [disabled]="!lForm.valid" >Login</button>
		<a routerLink="/signup"><button class="btn btn-default">Sign Up</button></a>
	</form>
</section>
<section class="signUp text-center" *ngIf="!isLogin()">
	<h2>Sign Up</h2>
	<form class="signup-form text-center" [formGroup]="sForm" (submit)="mSignup(sForm.value)">
		<mat-form-field class="theInput">
			<input matInput type="text" formControlName="name" class="" placeholder="Name">
		</mat-form-field>
		<mat-form-field class="theInput">
			<input matInput type="text" formControlName="mobile" class="" placeholder="Mobile No">
		</mat-form-field>
		<mat-form-field class="theInput">
			<input matInput type="email" formControlName="email" class="" placeholder="Email">
		</mat-form-field>
		<mat-form-field class="theInput">
			<input matInput type="password" formControlName="password" class="" placeholder="New Password">
		</mat-form-field>
		<mat-form-field class="theInput">
			<input matInput type="password" formControlName="rpassword" class="" placeholder="Re Inter New Password">
		</mat-form-field>
		<button class="btn btn-default" [disabled]="!sForm.valid">Sign Up</button>
	</form>
	<a routerLink="/login"><button class="btn btn-default">Login</button></a>
</section>

<section *ngIf="error" class="error">{{error}}</section>