<app-header></app-header>
<section class="col-sm-8 profile">
	<h2>User Profile</h2>
	<b>Name :<br></b>{{user.name}}<br>
	<b>Mobile :<br></b>{{user.mobile}}<br>
	<b>Email :<br></b>{{user.email}}<br>
	<b *ngIf="user.address">Address :<br></b>{{user.address}}<br>
	<b *ngIf="!user.address">Address :<br>Assress Not Defined<br></b>
</section>
<section class="col-sm-8 orders">
	<h2>Orders</h2>
	<div *ngFor="let order of orders">
		<div class="well" *ngIf="order.oid">
			<b>Order Id : </b>{{order.oid}}<br>
			<b>Ordered On : </b>{{order.date}}<br>
			<b>Delivery Address : </b>{{order.address}}<br>
			<b>Order Cost : </b>{{order.cost}}<br>
			<p *ngFor="let theorder of order.order" style="border:1px solid black;">
				{{theorder.id}}	X
				{{theorder.val}}	
			</p>
			<b>Status : </b>{{order.status}}<br>
		</div>
	</div>
</section>